@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=vietnamese');

html {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.row {
  margin: 0 !important;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

//Responsive web
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

// End Responsive web

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
  z-index: 9999;

  .logo {
    float: left;
    img {
      height: 60px;
      transition: .5s;
    }
  }

  ul {
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      a {
        text-decoration: none;
        line-height: 80px;
        font-size: 1em;
        font-weight: bold;
        color: #f1f1f1;
        padding: 5px 15px;

        text-transform: uppercase;
        transition: .5s;
        &.white {
          color: #fff;
          &:hover {
            color: #da6f3c;
          }
          &.active {
            color: #da6f3c;
            background: linear-gradient(rgba(0, 0, 0, 0.19), rgba(255, 255, 255, 0.1));
            border-radius: 5px;
          }
        }
        &.active, &:hover {
          color: #da6f3c;
        }
      }
    }
  }
  .toggle-menu {
    font-size: 2em;
    color: #efefef;
    float: right;
    position: absolute;
    top: 30px;
    right: 100px;
    display: none;
  }
  &.black {
    background-image: linear-gradient(rgba(0, 0, 0, 0.79), transparent);
    transition: .5s;
    .logo {
      img {
        height: 70px;
      }
    }
    ul {
      li {
        a {
          padding: 7px 20px;
        }
      }
    }
  }

}

section.sec1 {
  height: 100vh;
  width: 100%;
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Customize scroll page.
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(80, 156, 208, 0.38);
  border-radius: 40px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(80, 156, 208, 0.58);
  border: 1px solid rgba(80, 156, 208, 0.58);
  border-radius: 40px;
}

//Loading page
.img-box-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  padding-top: 20%;
  text-align: center;
  align-items: center;
  background: #fff;
  transition: 1s;
  z-index: 9999;
  img {
    width: 100px;
    margin: auto 0;
    transition: 1s;
    animation: animate 0.8s infinite;
  }
  &.complete {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

//========= CSS Main Content ===========

#main {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 10px 120px 0 120px;
  background: #d4d4d4;
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
  }
}

.box-song-play {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  .nameSong {
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    overflow: hidden;
    span {
      font-weight: normal;
      font-size: 20px;
    }
  }
  .author {
    margin: 7px 0;
    width: 100%;
    font-size: 14px;
    color: #999999;
    overflow: hidden;
    span {
      color: #4d4d4d;
    }
  }
  .song-play {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 270px;
    background: #000;
    .box-img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: 2;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: .4;
      }
    }
    .contentSong {
      position: absolute;
      top: 0;
      line-height: 270px;
      display: flex;
      height: 100%;
      width: 100%;
      text-align: center;
      z-index: 3;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      .imgSong {
        position: relative;
        height: 75%;
        width: 25%;
        overflow: hidden;
        background: #171717;
        border-radius: 50%;
        box-shadow: 0px 0 20px #767676;
        img {
          width: 105%;
          vertical-align: unset;
          //border-radius: 50%;
          &.img-playing {
            animation: rotateImg 10s linear infinite;
          }
        }
      }
      .titleName {
        position: relative;
        height: 100%;
        width: 75%;
        text-align: center;
        vertical-align: top;
        box-sizing: border-box;
        padding-left: 5px;
        h5 {
          position: absolute;
          display: block;
          padding: 0;
          margin: 0;
          font-size: 20px;
          width: 100%;
          top: -50px;
          left: 0;
        }
        p {
          position: absolute;
          display: block;
          padding: 0;
          margin: 0;
          width: 100%;
          top: -0px;
          left: 0;
        }
      }
    }
    .control-audio {
      width: 100%;
      height: 100px;
      position: absolute;
      line-height: 100px;
      margin: auto;
      bottom: 0;
      left: 0;
      z-index: 4;
      //audio {
      //  width: 100%;
      //  height: 100%;
      //  background: transparent !important;
      //  padding: 5px;
      //  display: table-cell;
      //  z-index: 10;
      //  cursor: pointer;
      //}

    }
  }
  .description{
    margin-top: 10px;
    background: #ececec;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 13px;
  }
}



#songRelationship {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  .titleSongRelationship {
    width: 100%;
    height: 57px;
    line-height: 50px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 20px;
    text-transform: uppercase;
    color: #9055B5;
  }
  .listSongRelationship {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    .audioRe {
      position: relative;
      width: 100%;
      height: 70px;
      display: flex;
      margin-bottom: 15px;
      overflow: hidden;
      box-sizing: border-box;
      .boxImgRe {
        width: 20%;
        height: 100%;
        overflow: hidden;
        border-radius: 5px;
        box-sizing: border-box;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .titleSongRe {
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        width: 80%;
        h5 {
          position: absolute;
          overflow: hidden;
          width: 100%;
          height: 19px;
          top: 10px;
          left: 10px;
          font-size: 13px;
          margin: 0;
          padding: 0;
        }
        p{
          position: absolute;
          overflow: hidden;
          width: 100%;
          height: 19px;
          bottom: 20px;
          left: 10px;
          font-size: 13px;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// ========= END Css main content ==========
#noop-top {
  position: fixed;
  bottom: 5px;
  right: 15px;
  cursor: pointer;
  font: 12px arial;
  width: 40px;
  img {
    width: 100%;
    opacity: .6;
    &:hover {
      opacity: 1;
    }
  }
}

#footer {
  background: #fff;
  border-top: 2px dashed #828282;
  margin: 0;
  z-index: 4;
  padding: 20px 30px;
  box-sizing: border-box;
}

#footer .boxContact {
  width: 30%;
  float: left;
  color: #4c4c4c;
  padding-top: 20px;
  font-size: 14px;
  margin-right: 40px;
}

#footer .boxContact:after {
  content: '';
  clear: both;
  display: block;
}

#footer .boxContact a {
  color: #eb8800;
  transition: .4s;
}

#footer .boxContact a:hover {
  color: #ff9a00;
}

#footer .box-bug {
  width: 20%;
  float: left;
  padding: 0 10px;
}

#footer .box-bug ul {
  margin: 0;
  padding: 0;
}

#footer .box-bug ul li {
  list-style: none;
}

#footer .box-bug ul li a {
  color: #4c4c4c;
  display: inline-block;
  margin-bottom: 15px;
  transition: .4s;
}

#footer .box-bug ul li a:hover {
  color: #dd4923;
}

#footer .box-brand {
  float: right;
  position: relative;
  width: 45%;
}

#footer .box-brand .box-img-brand img {
  width: 100%;
}

#noop-top {
  position: fixed;
  bottom: 5px;
  right: 15px;
  cursor: pointer;
  font: 12px arial;
  width: 40px;
  img {
    width: 100%;
    opacity: .6;
    &:hover {
      opacity: 1;
    }
  }
}

//Responsive for mobile
@media only screen and (max-width: 991px) {
  body {
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
  }
  nav {
    padding: 10px;
    .toggle-menu {
      top: 30px;
      right: 50px;
      display: block;
    }
    ul {
      display: block;
      transition: .5s;
      background: rgba(42, 42, 42, 0.68);
      float: none;
      top: 90px;
      left: 120%;
      width: 100%;
      position: relative;
      &.active {
        left: 0;
        transition: .5s;
        transition-delay: 0.2s;
      }
      li {
        position: relative;
        a {
          text-align: center;
          width: 100%;
          position: relative;
          display: block;
          height: 50px;
          line-height: 50px;
          font-size: 15px;
          padding: 0;
          margin: 0;
          &.active {
            color: #fff;
            background-color: #1DC7EA;
          }
          &:hover {
            color: #fff;
            background-color: #1DC7EA;
          }
        }
        &:nth-child(1), &:nth-child(2) {
          a {
            padding-right: 150px;
          }
        }
      }
    }
  }

  .box-song-play {
    display: block;
    width: 100%;
    margin: 0;
    .imgSong {
      position:  relative !important;
      width: 24% !important;
      overflow: hidden;
      border-radius: 0 !important;
      background: transparent !important;
      box-shadow: none !important;
      img {
        width: 90% !important;
        border-radius: 50% !important;
        box-shadow: 0 0 20px #767676 !important;
        &.img-playing {
          animation: rotateImg 10s linear infinite;
        }
      }
    }
  }
  #songRelationship {
    display: block;
    width: 100%;
    margin: 0;
  }

  .audioRe {
    height: 100px !important;
    .boxImgRe{
      width: 19% !important;
    }
  }

  #footer {
    .box-brand, .box-bug, .boxContact {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  #main {
    padding: 0;
  }
}



@media only screen and (max-width: 768px) {
  nav {
    .toggle-menu {
      top: 30px;
      right: 50px;
      display: block;
    }
    ul li a{
      font-size: 13px;
    }
  }

  #main{
    margin: 0;
    padding: 0;
  }
  .box-song-play {
    display: block;
    width: 100%;
    margin: 0;
  }

  #songRelationship {
    display: block;
    width: 100%;
    margin: 0;
  }

}

.Shidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}