<!doctype html>
<html lang="en">
<head>
    <title><%= title %></title>
    <% include layouts/head.ejs %>
    <link rel="stylesheet" href="css/my-style.css">
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="" data-image="img/background/bg-admin-menu.jpg">
        <div class="sidebar-wrapper">
            <div class="logo" style="text-align: center">
                <img src="img/logo/Logo1.png" alt="Logo" style="width: 80%;object-fit: cover;height: 80%; margin: auto">
            </div>

            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="pe-7s-home"></i>
                        <p>Trang chủ</p>
                    </a>
                </li>

                <li class="active">
                    <a href="/music">
                        <i class="pe-7s-music"></i>
                        <p>Quản lý bài hát</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-albums"></i>
                        <p>Quản lý danh mục</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-users"></i>
                        <p>Quản lý User</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="#">
                        <i class="pe-7s-back-2"></i>
                        <p>Qua Website</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Quản lý bài hát</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/music" class="dropdown-toggle" data-toggle="dropdown">
                                <p class="hidden-lg hidden-md">Quản lý bài hát</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-globe"></i>
                                <b class="caret hidden-lg hidden-md"></b>
                                <p class="hidden-lg hidden-md">
                                    5 Thông báo
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Thông báo 1</a></li>
                                <li><a href="#">Thông báo 2</a></li>
                                <li><a href="#">Thông báo 3</a></li>
                                <li><a href="#">Thông báo 4</a></li>
                                <li><a href="#">Thông báo 5</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Tìm kiếm</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" style="margin-right: 5px">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <p>
                                    SlowV
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Thông tin</a></li>
                                <li><a href="#">Đăng xuất</a></li>
                            </ul>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title" style="width: 30%; float: left; padding-bottom: 10px">Danh sách bài
                                    hát</h4>
                                <div class="box-action" style="float: right;">
                                    <button type="button" rel="tooltip" title="Thêm mới" class="btn btn-info btn-simple btn-sm btnAddSong">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped table-cus">
                                    <thead>
                                    <th></th>
                                    <th>Mã</th>
                                    <th>Tên</th>
                                    <th>Ảnh</th>
                                    <th>Ca sĩ</th>
                                    <th>Tác giả</th>
                                    <th>Quản lý</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                                <label for="checkbox1"></label>
                                            </div>
                                        </td>
                                        <td>1</td>
                                        <td>Bùa yêu</td>
                                        <td>
                                            <div class="img-song card"
                                                 style="background-image: url('https://avatar-nct.nixcdn.com/song/2018/05/21/6/e/e/1/1526892480789_640.jpg');
                                                     background-size: cover;height: 100px;width: 100px;background-position: center">
                                            </div>
                                        </td>
                                        <td>Bích Phượng</td>
                                        <td>Không rõ</td>
                                        <td>
                                            <button type="button" rel="tooltip" title="Sửa" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox2" type="checkbox">
                                                <label for="checkbox2"></label>
                                            </div>
                                        </td>
                                        <td>2</td>
                                        <td>Gặp em đúng lúc</td>
                                        <td>
                                            <div class="img-song card"
                                                 style="background-image: url('https://i.ytimg.com/vi/znAJX5mau8w/maxresdefault.jpg');
                                                     background-size: cover;height: 100px;width: 100px;background-position: center">
                                            </div>
                                        </td>
                                        <td>Luân Tang</td>
                                        <td>Không rõ</td>
                                        <td>
                                            <button type="button" rel="tooltip" title="Sửa" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox3" type="checkbox">
                                                <label for="checkbox3"></label>
                                            </div>
                                        </td>
                                        <td>3</td>
                                        <td>Ly nhân sầu</td>
                                        <td>
                                            <div class="img-song card"
                                                 style="background-image: url('https://c-sf.smule.com/sf/s77/arr/ae/59/09423cf1-3a81-4686-9b17-898dd0b7d2c6.jpg');
                                                     background-size: cover;height: 100px;width: 100px;background-position: center">
                                            </div>
                                        </td>
                                        <td>Lý Viên Kiệt</td>
                                        <td>Không rõ</td>
                                        <td>
                                            <button type="button" rel="tooltip" title="Sửa" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Xóa" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal new song-->
        <div class="modal fade" id="modalNewSong" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Thêm bài hát</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box-form">
                            <form action="/music/test" method="get">
                                <div class="form-group">
                                    <input type="text" required id="Name" name="name" class="input-cus"/>
                                    <label for="Name" class="changeLabel">Tên bài hát</label>
                                </div>
                                <div class="form-group">
                                    <label for="kindId" class="control-label">Thể loại</label>
                                    <br>
                                    <select name="kindId" id="kindId" class="form-control">
                                        <% kind.forEach(function(kind) { %>
                                        <option value="<%= kind.id %>"> <%= kind.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" required id="Description" name="description" class="input-cus description"/>
                                    <label for="Description" class="changeLabel">Thông tin</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ảnh</label> <br>
                                    <span class="btn btn-default btn-file">
                                        <i class="pe-7s-upload"></i> Chọn file<input type="file" name="images">
                                    </span>
                                    <span class="filename text-muted small" id="file-name">Chưa ảnh nào được chọn...</span>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <img src="" id="review-image" class="thumbnail hidden imgAvatar" style="height: 120px;margin-top: 10px;object-fit: cover">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="width: 60%">
                                    <input type="text" required id="Singer" name="singer" class="input-cus"/>
                                    <label for="Singer" class="changeLabel">Ca sĩ</label>
                                </div>
                                <div class="form-group" style="width: 60%">
                                    <input type="text" required id="Author" name="author" class="input-cus"/>
                                    <label for="Author" class="changeLabel">Tác giả</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" required id="Link" name="link" class="input-cus"/>
                                    <label for="Link" class="changeLabel">Link</label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-success">Lưu</button>
                                    <button type="reset" id="reset" class="btn btn-outline-default">Làm mới</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!--End modal new song-->

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;<script>document.write(new Date().getFullYear())</script>
                    <a href="/">SlowV - Music</a>, luôn bên bạn lắng nghe.
                </p>
            </div>
        </footer>
    </div>
</div>
</body>
<% include layouts/script.ejs %>
<script src="js/manageSong.js"></script>
</html>